* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff1e0;
  /* background-color: #ffd17f; */
  margin-right: 1%;
  margin-left: 1%;
}
header {
  display: flex;
  flex-direction: row;
  background-color: #ffa300;
  /* background-color: #ffbb0f; */
  padding: 1rem;
  height: 190px;
  width: 100%;
  border-radius: 15px;
}

.catagory a {
  text-decoration: none;
  color: black;
}
header > div:nth-of-type(1) a {
  text-decoration: none;
  color: black;
  padding: 5px;
}
header > div:nth-of-type(1) {
  flex-grow: 0.01;
  font-size: 1.5rem;
  height: 100%;
  background-color: aliceblue;
  border-radius: 5px;
  display: flex;
  align-items: center; /* 세로방향 */
  padding-left: 1px;
  padding-right: 1px;
  z-index: 1; /* position: absolute; */
}
/* title 중심 */
header > div:nth-of-type(2) {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  border-radius: 15px;
  text-align: center;
}

header > div:nth-of-type(2) > ul {
  list-style: none;
  width: 92%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  padding-left: 210px;

  /* border: 1px solid #ccc; */
}
header > div:nth-of-type(2) > ul > li {
  width: max-content; /* 내용에 따라 가로 길이 설정 */
}

/* 하위 메뉴 스타일 */
header.sub-menu {
  display: none; /* 초기에 숨겨둠 */
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc; /* 메인 메뉴 아래에 표시되도록 설정 */
  width: max-content; /* 내용에 따라 가로 길이 설정 */
}
header li {
  /* background-color: #fa6622; */

  border-radius: 3px;
  padding-left: 10px;
  padding-right: 1px;
  padding: 4px;
  position: relative;
}

.catagory a:hover {
  background-color: aliceblue;
}
