* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff1e0;
  /* background-color: #ffd17f; */
  margin-right: 1%;
  margin-left: 1%;
}
header {
  display: flex;
  flex-direction: row;
  background-color: #ffa300;
  /* background-color: #ffbb0f; */
  text-align: center;
  align-items: center;
  padding: 1rem;
  height: 190px;
  border-radius: 15px;
  position: relative;
}
.catagory a {
  text-decoration: none;
  color: black;
}
header > div:nth-of-type(1) a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

header > div:nth-of-type(1) {
  flex-grow: 10%;
  font-size: 1.5rem;
  height: 95%;
  background-color: aliceblue;
  border-radius: 5px;
  padding-top: 55px;
  padding-left: 1px;
  padding-right: 1px;
}
header > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 15%;
  padding: 20px;
  position: relative;
  border-radius: 15px;
}
header h1 {
  margin-top: -38px;
}

header .catagory > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  /* border: 1px solid #ccc; */
  width: max-content; /* 내용에 따라 가로 길이 설정 */
}

/* 하위 메뉴 스타일 */
header.sub-menu {
  display: none; /* 초기에 숨겨둠 */
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc; /* 메인 메뉴 아래에 표시되도록 설정 */
  width: max-content; /* 내용에 따라 가로 길이 설정 */
}
header li {
  /* background-color: #fa6622; */

  border-radius: 3px;
  padding-left: 10px;
  padding-right: 1px;
  padding: 4px;
  position: relative;
}

.catagory a:hover {
  background-color: aliceblue;
}
