* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff1e0;
  /* background-color: #ffd17f; */
}
header {
  position: relative;
  height: 160px;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #ffa300;
  /* background-color: #ffbb0f; */
  text-align: center;
  align-items: center;
  padding: 20px;
}

.catagory a {
  text-decoration: none;
  color: black;
}

header > div:nth-of-type(1) a {
  text-decoration: none;
  color: black;
}

header > div:nth-of-type(1) {
  flex-grow: 0.1;
  font-size: 1.5rem;
  height: 100%;
  background-color: aliceblue;
  border-radius: 5px;
  padding-top: 40px;
}
header > div:nth-of-type(2) {
  flex-grow: 0.9;
}
header > div:nth-of-type(2) > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 50px;
}
header li {
  /* background-color: #fa6622; */
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 1px;
  padding: 4px;
  margin-bottom: 5px;
}
header h1 {
  left: 50%;
}
.catagory a:hover {
  background-color: aliceblue;
}
