/*  */
.menu {
  list-style: none;
  display: flex;
}

.category:hover .sub-menu {
  display: block;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.sub-menu li {
  margin: 5px 0;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
}

.category > a::after {
  content: " ▼";
}

.category > a:hover::after {
  content: " ▲";
}
/*  */
