/* @font-face {
  font-family: "Katuri";
  src: url(./Katuri.otf) format("opentype");
  font-weight: normal;
} */
* {
  box-sizing: border-box;
  margin: 0;
}
header>ul {
  j
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  font-family: "Katuri", sans-serif;
  font-size: 1.1rem;
}
