main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  max-width: 600px; /* 폼의 최대 너비를 설정하고 중앙 정렬합니다 */
  padding: 1rem;
  margin-top: -100px;
  padding-left: 100px;
  padding-right: 100px;
}

form > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}
form > div > input:nth-of-type(1) {
  height: 50px;
  width: 100%;
}
form > div > div {
  width: 250px;
  position: relative;
  top: -6.5px;
}
form > div > div > select {
  height: 26px;
  width: 50px;
}
form > div > div > select:nth-of-type(1) {
  width: 166px;
}

form ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}
form > input {
  height: 30px;
  width: 100%;
}

li > button {
  width: 100px;
  height: 30px;
  font-size: 1rem;
  border: 1;
}
